* {
  font-family: 'Roboto', sans-serif; }

.btn-container {
  margin-left: -80%;
  margin-top: 4%;
  text-align: center;
  text-align: center; }

button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #7A7593;
  color: #7A7593;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease; }
  button:hover {
    color: white;
    background: #7A7593; }
  button:active {
    letter-spacing: 2px; }
  button:after {
    content: "SUBMIT"; }

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #7A7593;
  animation: rotating 2s 0.25s linear infinite; }
  .onclic:after {
    content: ""; }
  .onclic:hover {
    color: #7A7593;
    background: white; }

.validate {
  font-size: 13px;
  color: white;
  background: #7A7593; }
  .validate:after {
    font-family: 'FontAwesome';
    content: "\f00c"; }

@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
